<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sapi.ktp.aplikasiktpsapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/sapi2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".tab.tab1" />
        <activity android:name=".tab.tab2" />
        <activity android:name=".Beranda" />
        <activity android:name=".HalamanData" />
        <activity android:name=".HalamanLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HalamanDaftar" />

        <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <activity android:name=".EditData" />
        <activity android:name=".Manajemen" />
        <activity android:name=".EditJenis" />
        <activity android:name=".DataJenis" />
        <activity android:name=".Profile" />
        <activity android:name=".MenuManajemen" />
        <activity android:name=".Pengaturan" />
        <activity android:name=".JadwalMakan" />
        <activity android:name=".Laporan" />
        <activity android:name=".MonitoringKandang" />
        <activity android:name=".Tentang" />
        <activity android:name=".DataKandang" />
        <activity android:name=".DataIndukan" />
        <activity android:name=".DataPenyakit" />
        <activity android:name=".DataPakan" />
        <activity android:name=".DetailMonitoringKandang" />
        <activity android:name=".EditKandang" />
        <activity android:name=".TambahJadwal" />

        <meta-data
            android:name="DATABASE"
            android:value="ktpsapi.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="id.sapi.ktp.aplikasiktpsapi" />

        <activity android:name=".EditMonitoring"></activity>
    </application>

</manifest>